/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Poppins:wght@500&display=swap');

/* Base Style or Utilities */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}
.common-btn{
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 24px;
    background-color: #E02C6D;
    color: #FFFFFF;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.common-btn .fa-arrow-right{
    font-size: 24px;
    margin: 0 8px;
}
.common-btn:hover{
    transform: translateX(15px);
    transition: transform 1s ease-in-out;
}
hr{
    border-image-source: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    border-image-slice: 1;
    margin: 0 165px;
}

/* Header Style */
.container{
    margin-bottom: 50px;
}
.main-manu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 120px;
}
.logo-title{
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
    line-height: 36px;
}
.main-manu .manu ul{
    display: flex;
}
.main-manu .manu ul li{
    list-style: none;
    margin-right: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
}
.main-manu .manu ul li:last-child{
    margin-right: 0;
}
.main-manu .manu ul li a{
    text-decoration: none;
}
.fa-search, .fa-shopping-cart{
    font-size: 24px;
}

/* Head Section Style */
.section-container{
    margin-bottom: 100px;
}
.head-section{
    /* height: 500px; */
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
    align-items: center;
}
.head-image{
    width: 475px;
    height: 475px;
    background-image: url("../images/Circle\ design.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.head-image img{
    width: 440px;
    height: 414px;
    position: absolute;
    top: 30px;
    left: 15px;
}
.head-image img:hover{
    transform: scale(1.25);
    transition: transform 1s ease-in;
    cursor: pointer;
}
.head-texts{
    margin-right: 130px;
}
.head-title{
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
    margin-top: 0;
    margin-bottom: 16px;
}
.head-info{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
    margin-bottom: 16px;
}

/* Company Logo Style */
.companies-container{
    margin-bottom: 100px;
}
.companies{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    height: 108px;
    align-items: center;
    margin: 0 225px;
}

/* Popular Collection Style */
.collection-container{
    margin-bottom: 100px;
}
.popular-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collection-title{
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    color: #3A3A3A;
    margin: 30px 0;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.collection{
    width: 300px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.collection-image img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
.collection-info-title{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    margin-bottom: 5px;
    margin-top: 16px;
}
.collection-info-sub-title{
    font-size: 24px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FB8200;
}
.fa-star.empty{
    color: #AEAEAE;
    opacity: 0.5;
}
.collection-icon span{
    font-size: 14px;
    line-height: 22px;
    color: #5E6366;
    letter-spacing: 0.1px;
    margin-left: 5px;
}
.collection-info-details{
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.018em;
    color: #787885;
    margin-bottom: 0;
}
.see-more-btn{
    text-align: right;
    margin-right: 235px;
    margin-top: 50px;
}
.see-more-btn a{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: rgba(224, 44, 109, 0.87);
}
.see-more-btn .fa-arrow-right{
    margin-left: 8px;
    font-size: 16px;
}

/* Footer Style */
#footer{
    height: 280px;
    background-color: #0b0927;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-info{
    text-align: center;
}
.footer-title{
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 5px;
}
.footer-details{
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #D9DBE1;
    margin-bottom: 5px;
    margin-top: 0;
}
.footer-icon{
    margin-top: 25px;
}
.footer-icon .filled-color{
    width: 20px;
    font-size: 18px;
    background-color: #22203b;
    padding: 10px;
    color: #fff;
    margin: 0 5px;
    border-radius: 50%;
}